.aboutproject {
    width: auto;
    display: flex;
    flex-direction: column;

}

.aboutproject__title {
    display: flex;
    margin: 110px 0 0 70px;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;

}

.aboutproject__line {
    width: 89%;
    margin-top: 23px;
}

.aboutproject__content {
    width: 89%;
    display: flex;
    flex-direction: row;
    margin: 70px 0 0 70px;
    text-align: left;
}

.aboutproject__info {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin: 26px 0 0 0;
}

.aboutproject__info-header {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.aboutproject__info-description {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.aboutproject__timeline{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 119px 70px 0 70px;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutproject__timeline-info{
    height: 36;
 color: #000;
background: #F2F2F2;
}

.aboutproject__timeline-info-black{
    background: #000;
    color: #FFF;
}

.aboutproject__timeline-description{
    color: #A0A0A0;
}