.aboutproject {
   
    display: flex;
    flex-direction: column;
    height: 608px;
    box-sizing: border-box;

}

.aboutproject__title {
    display: flex;
    margin: 110px 0 0 5%;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;

}

.aboutproject__line {
   
    
    box-sizing: border-box;
    margin: 23px 5% 0 5%;
}

.aboutproject__content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px 5% 0 5%;
    text-align: left;
    gap: 10px;
}

.aboutproject__info {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

.aboutproject__info-header {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: left;
    margin: 0;
}

.aboutproject__info-description {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.aboutproject__timeline{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 110px 5% 110px 5%;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutproject__timeline-info{
    height: 36;
 color: #000;
background: #F2F2F2;
}

.aboutproject__timeline-info-black{
    background: #000;
    color: #FFF;
}

.aboutproject__timeline-description{
    color: #A0A0A0;
}

@media screen and (max-width: 768px) {
    .aboutproject__info-description {
        font-size: 12px;
        width: 319px;
            
    }

    .aboutproject__info-header{
        width: 319px;
    }
}


@media screen and (max-width: 768px) {
    .aboutproject__content{
        grid-template-columns: 1fr;
            
    }
}