.searchform {

    margin: 0 5%;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.searchform__container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 2px 3fr;
    border-radius: 9px;
    background: #F9F9F9;
}

.searchform__loupe {
    background: no-repeat url(../../../images/loupe.svg);
    background-position: center;
    width: 16px;
    height: 16px;
    align-self: center;
    margin: 19px 0 19px 19px;
}

.searchform__input {
    align-self: center;
    background-color: #F9F9F9;
    color: #000;
    ;
    width: 100%;
    border: none;
    margin: 25px 0 25px 10px;
}

.searchform__button {
    background: no-repeat url(../../../images/find.svg);
    width: 80px;
    height: 34px;
    border: none;
    cursor: pointer;
    padding: 19px 64px 19px 30px;
    align-self: center;
}

.searchform__button:hover {
    transition: .6s linear;
    opacity: .5;
}

.searchform__vertline {
    border-left: 1px solid #CBCBCB;
    height: 40px;
    align-self: center;
}

.searchform__checkbox {
    width: auto;
    display: flex;
    align-items: center;
    gap: 15px;

}

.searchform__checkbox-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    background-color: #2BE080;
    border-radius: 10px;
    margin-left: 15px;
}

.searchform__checkbox-input {
    display: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.searchform__checkbox-slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2BE080;
    -webkit-transition: .4s;
    transition: .4s;
}

.searchform__checkbox-slider-round:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: -2px;
    background-color: rgb(251, 252, 251);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.searchform__checkbox-slider-round {
    background-color: #2BE080;
}

input:focus+.searchform__checkbox-slider-round {
    box-shadow: 0 0 1px #f5f6f7;
}

input:checked+.searchform__checkbox-slider-round:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}


.searchform__checkbox-slider-round {
    border-radius: 34px;
}

.searchform__checkbox-slider-round:before {
    border-radius: 50%;
}

.searchform__checkbox-text {
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 138.462% */
    margin-right: 15px;
}


.searchform__line {
    box-sizing: border-box;
    margin: 69px 0 0 0;
    color: #8B8B8B;
}

@media screen and (max-width: 600px) {
    .searchform__loupe {
        display: none;
    }

    .searchform__container {
        grid-template-rows: 72px 72px;
        grid-template-columns: 2fr 1fr;
    }

    .searchform__vertline {
        display: none;
    }

    .searchform__checkbox {
        grid-row-start: 2;
        grid-column-end: 3;
        grid-column-start: 1;
        justify-items: center;
        margin: auto;
        border: none;
    }

    .searchform__button {
        margin: 0 0 0 83px;
    }
}